/* * {
    color: white;
    background-color: salmon;
} */

body {
    background-color: #28c259;
}

button {
    font-size: 20px;
    background-color: #a8dadc;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

h1,
h2 {
    color: black;
}

.post a {
    color: #457b9d;
    text-decoration: none;
    font-weight: bold;
}

footer a {
    color: #e63946;
}

h2+button {
    font-size: 20px;
}

footer>a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow
}

/* section[class="post"] {
    background-color: azure;
} */

section.post {
    background-color: #27fb6b;
}

.post button:hover {
    background-color: #e63946;
}

a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n) {
    background-color: #010914;
    color: white;
}

.post:nth-of-type(3n) {
    background-color: #28c259;
    color: white;
}

.post:nth-of-type(2n)>h2 {
    color: white;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #02c39a;
}